:root {
  --color-black: #000;
  --color-white: #fff;
  --color-green: #51bc51;
  --color-claro: #51bcaa;
  --color-dark: #112812;
  --color-vclaro: #adfebf;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to top, #122812, #438b43);
  color: var(--color-white);
  min-height: 100vh;
  font-family: 'Griffy', cursive;
}

.cabecera {
  background: linear-gradient(to right, var(--color-dark), #325e48);
  color: #60d59d;
  font-size: 0.8em;
  padding: 20px;
  text-align: center;

  .hider .title {
    text-shadow: 2px 2px 4px rgba(4, 3, 5, 2.5);
  font-weight: bold;
  }
}

.caracteres {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  justify-content: center; 
  align-items: center;
  flex-grow: 1;
  height: auto;
  max-width: 800px;
  padding: 20px;
  margin: 0 auto;

  div {
    background-color: var(--color-green);
    border-radius: 10px;
    border: 2px solid var(--color-black);
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.8);
    color: var(--color-dark);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 10px;
    width: 120px;
    min-height: 500px;
    transition: ease-in-out 0.3s;
  }

  div:hover {
    transform: scale(1.05);
    background-color: var(--color-vclaro);
    border-color: var(--color-dark);
    color: var(--color-black);
  }

  img {
    border-radius: 10px;
    border: 2px solid var(--color-black);
    width: 100%;
    margin-bottom: 10px;
  }
} 

.caracter-nombres {
  color: var(--color-dark);
  font-size: 1.4em;
  text-align: center;
  text-shadow: 1px 1px 1.6px rgba(4, 3, 5, 2.5);
  padding: 0, 10px;

}

strong {
  color: rgb(0, 63, 0);
  font-weight: bold;
}

.paginacion {
  display: flex;
  justify-content: space-evenly;
  margin: 20px;

  p{
    text-align: center;
  }
}

button {
  background-color: var(--color-vclaro);
  border: 2px solid var(--color-black);
  border-radius: 10px;
  color: var(--color-black);
  cursor: pointer;
  display: block;
  font-size: 0.8em;
  margin: 8 0;
  margin-bottom: 10px;
  padding: 5px;
  transition: ease-in 0.2s;
}

button:hover {
  border-color: var(--color-vclaro);
  background-color: var(--color-black);
  color: var(--color-vclaro);
}

hr {
  border: 0;
  height: 1px;
  background: var(--color-green);
}


/*no es necesario colocar width: 100% ya que los header, footer tienen un width predeterminado de 100%*/
.footer {
  background: linear-gradient(to left, var(--color-dark), var(--color-black)); 
  padding: 10px;
  text-align: center;
  height: 90px;
  color: var(--color-claro);
  padding-top: 30px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;

  p {
    opacity: 0.5;
  }
}

@media screen and (min-width: 1024px) {
  
  .cabecera {
    font-size: 1.1em;
  }
  .caracteres {
    grid-template-columns: repeat(6, 1fr);
    margin: 0 auto;

    div {
      width: 180px;
      min-height: 485px;

      .caracter-nombres {
        font-size: 1.8em;
        padding-bottom: 5px;
      }

    }

  }

  .caracter-info {
    font-size: 1em;
  }

  .paginacion {
    margin: 30px;
  }
  
  button {
    margin: 20px;
    font-size: 1em;
  }

  .footer {
    padding: 30px 20px 20px 20px;
    text-align: left;
  }
}



